* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header-container {
  grid-column: 2 / 3;
  grid-row: 1 /2;
  background-color: red;
}

.sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 /3;
  background-color: lightblue;
}

.main-content-container {
  grid-column: 2 / 3;
  grid-row: 2 /3;
  background-color: gray;
}